.text-start {
    text-align: right !important;
}

.text-right {
    text-align: right !important;
}

.article-cover {
    height: 16rem !important;
    max-height: 16rem !important;
}

.article-cover img {
    height: 100%;
}

.text-justify {
    text-align: justify;
}

.article-title {
    /* height: 2rem; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.article-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flex-col {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.article-dec {
    padding: 0 1.5rem;
}

.navbar .dropdown-toggle::after {
    margin-top: -0.093rem !important;
    font-size: 1.15em;
    margin-left: -0.5rem !important;
    margin-right: 0.4rem !important;
}

.text-justify {
    text-align: justify;
}

.about-content__module p {
    text-align: justify !important;
    line-height: 2;
}

/* body {
    padding-top: 4rem;
} */

.navbar-nav .nav-link {
    padding-right: unset !important;
    padding-left: 0.875rem;
}

.article-module__cover {
    height: 12rem;
    border-radius: 1rem;
}

@media (min-width: 991px) {
    .article-module__cover {
        height: 450px;
    }
}

.object-cover {
    object-fit: cover;
}

.article-module__body {
    line-height: 2;
    text-align: justify;
}

.bg-gray-light {
    background-color: rgb(244 244 245);
}

.t-header__info {
    background-color: #f3f6ff !important;
}

.t-header-info__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #fff;
    margin-right: 0.5rem;
    flex-shrink: 0;
}

footer ul {
    margin: 0 !important;
    padding: 0 !important;
}

.t-header .navbar-nav li .nav-link {
    font-weight: 400 !important;
}
